const theme = {
  'library.ui.View': {
    '.h-center': {
      alignItems: 'center',
    },
    '.v-center': {
      justifyContent: 'center',
    },
    '.flexible': {
      flex: 1,
    },
  },
};
const HelloWorld = () =>(
  <StyleProvider style={theme}>
    <View styleName="flexible vertical v-center h-center" />
  </StyleProvider>
);
