// Theming whole application
<ThemeProvider theme={theme}>
  <App />
</ThemeProvider>

// Theming one component
<ThemeProvider theme={theme}>
  <Button />
</ThemeProvider>

// Theming multiple components separately
<ThemeProvider theme={lightTheme}>
  <Button />
  <Tile />
</ThemeProvider>
<ThemeProvider theme={darkTheme}>
  <Card />
  <SocialButton />
</ThemeProvider>
