<Card
  title="Fancy Card"
  containerStyle={{ paddingHorizontal: 0, borderColor: "#BdBDBD" }}
  dividerStyle={{ borderColor: "#BDBDBD" }}
  titleStyle={{ color: "#212121" }}
>
  <ListItem
    title="List 2"
    subtitle="I am a subtitle"
    titleStyle={{ color: '#212121'}}
    subtitleStyle={{color: '#757575'}}
  />
  <Divider style={{ backgroundColor: '#BdBDBD'}}/>
  <Button
    color="#212121"
    backgroundColor="#FFC107"
    title="Press Me!"
    borderRadius={4}
    buttonStyle={{ borderWidth: 1, marginTop: 10}}
  />
</Card>
